* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #fff ; */
  text-align: right;
}

h1 {
  text-align: center;
  margin: 50px auto 0 auto;
  color: #ff7f00;
  max-width: 90%;
}

h2 {
  color: #ff9933;
}

li {
  color: #545454;
  margin-top: 15px;
}

button {
  border: none;
}

.paner1 {
  width: 100%;
}

.paner1 img {
  width: 100%;
}

.cardcontainer,
.proscontainer,
.contact {
  display: flex;
  max-width: 100%;
  gap: 1.5em;
  margin: 20px auto 0 auto;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
}

.card {
  width: 23%;
  border: none;
  padding: 10px;
  background-color: #ff7f00;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.card .card-img img {
  width: 100%;
}

.card h4 {
  font-size: 18px;
}

.card .price {
  font-size: 24px;
  display: flex;
  gap: 1em;
  color: var(--text-light);
}

.card .price del {
  color: var(--text-gray);
  text-decoration: line-through;
}

.card button {
  width: 60%;
}

.pros {
  width: 23%;
  border: none;
  padding: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.pros h2 {
  margin: 20px 0;
}

.aboutuscontainer{
    background-color: #ff7f00;
    margin-top: 50px;

}

.aboutus{
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    gap: 1em;
}

.aboutus h1{
    color: #fff;
    margin-top: 10px;
}

.aboutus p{
    color: #545454;
}

@media (width < 350px) {
  .card button {
    width: 90%;
  }
}
@media (width < 500px) {
    h1{
        width: 80%;
        margin-top: 20px;
    }
  .cardcontainer,
  .proscontainer,
  .contact {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    align-items: center;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }

  .pros {
    width: 90%;
    margin: 0 auto;
  }
}

.whatsapp-button {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  padding: 12px 20px;
  background: #ff9933;
  text-align: left;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  border-radius: 12px;
  box-shadow: rgba(255, 255, 255, 0.25) 0 0 0 3px inset;
  transition: 0.3s ease-out;
}
.whatsapp-button p {
  margin: 0;
}

.whatsapp-button span {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #0080FF;
}

.whatsapp-button strong {
  display: block;
  font-weight: 700;
  color: #0080FF;
}

.whatsapp-button svg {
  width: 36px;
  height: 36px;
  fill: #fff;
  flex-shrink: 0;
  margin-right: 8px;
}
